@inherits LayoutComponentBase

<ErrorList/>
<div class="page">
    <header class="header">
        <NavMenu />
    </header>
    <main class="main">
        @Body
    </main>
    <footer class="footer">
        <Footer/>
    </footer>
</div>